.cursor-pointer{
	cursor: pointer !important;
}
body{
	margin: 0;
	padding: 0;
}
/* LoginForm.css */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #667eea, #764ba2);
}

.login-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.login-form p {
  margin-bottom: 0;
}

.btn-block {
  width: 100%;
}

@media (max-width: 768px) {
  .login-form {
    padding: 20px;
  }
}
/* SignupForm.css */
.signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #f76c6c, #6e56cf);
}

.signup-form {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.signup-form p {
  margin-bottom: 0;
}

.btn-block {
  width: 100%;
}

@media (max-width: 768px) {
  .signup-form {
    padding: 20px;
  }
}
/* Preloader.css */
.preloader-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa; /* Optional background color for the preloader page */
}

.spinner-grow {
  width: 5rem;
  height: 5rem;
  color: #007bff; /* Primary color for the spinner */
}

@media (max-width: 576px) {
  .spinner-grow {
    width: 3rem;
    height: 3rem;
  }
}

h4 {
  font-size: 20px;
  color: #343a40; /* Text color */
  font-weight: bold;
  margin-left: 10px;
}
.google-auth div div iframe{
	margin-left: auto !important;
	margin-right: auto !important;
	margin-top: 15px !important;
}

/* Dashboard */

.container {
  max-width: 900px;
}

.card {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-text {
  font-size: 16px;
}

@media (max-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* Specific Styles for Dashboard Components */

.row {
  display: flex;
  justify-content: space-between;
}

.col {
  flex-basis: calc(33.33% - 20px);
}

@media (max-width: 768px) {
  .col {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}

.workout-card {
  width: 200px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.workout-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Adjusted for hover effect */
}

.workout-card.selected {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Flashy shadow effect for selected card */
  transition: box-shadow 0.3s ease;
}
